<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmic.attendance.dao.AuditDao">
    <sql id="auditColumns">
        a.id AS "id",
        a.user_name AS "userName",
        a.submit_time AS "submitTime",
        a.audit_content AS "auditContent",
        a.audit_user_id AS "auditUserId",
        a.audit_user_name AS "auditUserName",
        a.audit_status AS "auditStatus",
        a.audit_time AS "auditTime",
        a.attendance_id AS "attendanceId",
        a.audit_suggestion AS "auditSuggestion",
        a.business_type AS "businessType",
        a.suggestion_remarksvarchar AS "suggestionRemarksvarchar",
        a.attendance_group AS "attendanceGroup",
        a.remarks AS "remarks",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.start_date AS "startDate",
        a.end_date AS "endDate",
        a.holiday_days AS "holidayDays",
        a.phone_number AS "phoneNumber"
    </sql>

    <sql id="auditJoins">
    </sql>

    <select id="get" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a
        <include refid="auditJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a
        <include refid="auditJoins"/>
        <where>
            1 = 1
            <if test="id != null">
                AND a.id LIKE CONCAT('%',#{id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="submitTime != null">
            </if>
            <if test="auditContent != null">
                AND a.audit_content LIKE CONCAT('%',#{auditContent, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="auditUserId != null">
                AND a.audit_user_id LIKE CONCAT('%',#{auditUserId, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="auditUserName != null">
                AND a.audit_user_name LIKE CONCAT('%',#{auditUserName, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="auditStatus != null">
                AND a.audit_status LIKE CONCAT('%',#{auditStatus, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="auditTime != null">
                AND a.audit_time LIKE CONCAT('%',#{auditTime, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="attendanceId != null">
                AND a.attendance_id LIKE CONCAT('%',#{attendanceId, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="auditSuggestion != null">
                AND a.audit_suggestion LIKE CONCAT('%',#{auditSuggestion, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="businessType != null">
                AND a.business_type LIKE CONCAT('%',#{businessType, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="createDate != null">
                AND a.create_date LIKE CONCAT('%',#{createDate, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="updateBy.id != null">
                AND a.update_by LIKE CONCAT('%',#{updateBy.id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="updateDate != null">
                AND a.update_date LIKE CONCAT('%',#{updateDate, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="auditDetail != null">
                AND a.audit_detail LIKE CONCAT('%',#{auditDetail, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="userName != null">
                AND a.user_name LIKE CONCAT('%',#{userName, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="attendanceGroup != null">
                AND a.attendance_group LIKE CONCAT('%',#{attendanceGroup, typeHandler=EscapeTypeHandler},'%')
            </if>
        </where>
    </select>

    <select id="findAllList" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a
        <include refid="auditJoins"/>
    </select>

    <!--某人某个月的总请假时长-->
    <select id="getHolidayDays" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a
        <where>
            1 = 1
            <if test="userName != null">
                AND a.user_name = #{userName}
            </if>
            AND a.business_type=0
            AND a.audit_suggestion=0
            AND DATE_FORMAT(a.start_date,'%Y-%m')=#{month}
        </where>
    </select>

    <!--某个月的请假和外勤审批通过记录-->
    <select id="getHolidayList" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a
        <where>
            1 = 1
            <if test="userName != null">
                AND a.user_name = #{userName}
            </if>
            <if test="phone != null">
                AND a.phone_number = #{phone}
            </if>
            AND a.business_type &lt;&gt; 2
            AND a.audit_suggestion=0
            AND DATE_FORMAT(a.start_date,'%Y-%m')=#{month}
        </where>
    </select>

    <!--某个月的外勤审批通过记录-->
    <select id="getFieldPersonnel" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a
        <where>
            1 = 1
            <if test="userName != null">
                AND a.user_name = #{userName}
            </if>
            AND a.business_type=1
            AND a.audit_suggestion=0
            AND DATE_FORMAT(a.submit_time,'%Y-%m')=#{month}
        </where>
    </select>


    <insert id="insert">
        INSERT INTO t_audit(
        id,
        user_name,
        submit_time,
        audit_content,
        audit_user_id,
        audit_user_name,
        audit_status,
        audit_time,
        attendance_id,
        audit_suggestion,
        business_type,
        suggestion_remarksvarchar,
        attendance_group,
        remarks,
        create_by,
        create_date,
        update_by,
        update_date,
        start_date,
        end_date,
        holiday_days,
        phone_number
        ) VALUES (
        #{id},
        #{userName},
        #{submitTime},
        #{auditContent},
        #{auditUserId},
        #{auditUserName},
        #{auditStatus},
        #{auditTime},
        #{attendanceId},
        #{auditSuggestion},
        #{businessType},
        #{suggestionRemarksvarchar},
        #{attendanceGroup},
        #{remarks},
        #{createBy.id},
        #{createDate},
        #{updateBy.id},
        #{updateDate},
        #{startDate},
        #{endDate},
        #{holidayDays},
        #{phoneNumber}
        )
    </insert>

    <update id="update">
        UPDATE t_audit
        <set>
            user_name = #{userName},
            submit_time = #{submitTime},
            audit_content = #{auditContent},
            audit_user_id = #{auditUserId},
            audit_user_name = #{auditUserName},
            audit_status = #{auditStatus},
            audit_time = #{auditTime},
            attendance_id = #{attendanceId},
            audit_suggestion = #{auditSuggestion},
            business_type = #{businessType},
            suggestion_remarksvarchar = #{suggestionRemarksvarchar},
            attendance_group = #{attendanceGroup},
            remarks = #{remarks},
            create_by = #{createBy.id},
            update_by = #{updateBy.id},
            update_date = #{updateDate},
            start_date = #{startDate},
            end_date = #{endDate},
            holiday_days = #{holidayDays},
        </set>
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_audit SET
        <if test="userName != null  and userName != ''">
            user_name = #{userName},
        </if>
        <if test="submitTime != null ">
            submit_time = #{submitTime},
        </if>
        <if test="auditContent != null  and auditContent != ''">
            audit_content = #{auditContent},
        </if>
        <if test="auditUserId != null  and auditUserId != ''">
            audit_user_id = #{auditUserId},
        </if>
        <if test="auditUserName != null  and auditUserName != ''">
            audit_user_name = #{auditUserName},
        </if>
        <if test="auditStatus != null ">
            audit_status = #{auditStatus},
        </if>
        <if test="auditTime != null ">
            audit_time = #{auditTime},
        </if>
        <if test="attendanceId != null  and attendanceId != ''">
            attendance_id = #{attendanceId},
        </if>
        <if test="auditSuggestion != null ">
            audit_suggestion = #{auditSuggestion},
        </if>
        <if test="businessType==0 or businessType==1 or businessType==2">
            business_type = #{businessType},
        </if>
        <if test="suggestionRemarksvarchar != null  and suggestionRemarksvarchar != ''">
            suggestion_remarksvarchar = #{suggestionRemarksvarchar},
        </if>
        <if test="attendanceGroup != null  and attendanceGroup != ''">
            attendance_group = #{attendanceGroup},
        </if>
        <if test="startDate != null">
            start_date = #{startDate},
        </if>
        <if test="endDate != null">
            end_date = #{endDate},
        </if>
        <if test="holidayDays != null and holidayDays!='' ">
            holiday_days = #{holidayDays},
        </if>
        <if test="phoneNumber != null and phoneNumber!='' ">
            phone_number = #{phoneNumber},
        </if>
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_audit
        WHERE id = #{id}
    </delete>

    <select id="getAuditById" parameterType="String" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a
        WHERE a.id = #{auditId}
    </select>

    <select id="getByUserNameDateAndAttendanceGroud" parameterType="Audit" resultType="Audit">
        SELECT
        <include refid="auditColumns"/>
        FROM t_audit a WHERE 1=1
        <if test="dateStr!=null and dateStr!=''">
            and DATE(a.start_date)=#{dateStr}
        </if>
        <if test="userName!=null and userName!=''">
            and a.user_name=#{userName}
        </if>
        <if test="attendanceGroup!=null and attendanceGroup!=''">
            and a.attendance_group=#{attendanceGroup}
        </if>
    </select>

    <update id="updateAudit" parameterType="map">
        UPDATE t_audit SET
        <if test="auditStatus ==0 or  auditStatus ==1">
            audit_status = #{auditStatus},
        </if>
        <if test="auditSuggestion ==0 or auditSuggestion ==1">
            audit_suggestion=#{auditSuggestion},
        </if>
        <if test="auditTime != null and auditTime != ''">
            audit_time=#{auditTime},
        </if>
        <if test="suggestionRemarksvarchar != null and suggestionRemarksvarchar != ''">
            suggestion_remarksvarchar=#{suggestionRemarksvarchar},
        </if>
        <if test="auditUserId != null and auditUserId != ''">
            audit_user_id=#{auditUserId},
        </if>
        <if test="auditUsername != null and auditUsername != ''">
            audit_user_name=#{auditUsername},
        </if>
        update_by=#{updateBy},
        update_date=#{updateDate}
        WHERE id =#{id}
    </update>

    <select id="findAuditList" resultType="Map" parameterType="Audit">
        SELECT
        a.id as id , a.user_name as userName ,a.audit_content AS auditContent ,
        date_format(a.submit_time,'%Y年%m月%d日 %T') AS submitTime ,a.audit_status AS auditStatus
        FROM t_audit a
        <where>
            1=1
            <if test="attendanceGroup != null and attendanceGroup != ''">
                and attendance_group = #{attendanceGroup}
            </if>
            <if test="userName != null and userName != ''">
                and user_name LIKE '%${userName}%'
            </if>
            <if test="auditStatus == 0 or auditStatus ==1">
                and audit_status = #{auditStatus}
            </if>
            <if test="date!=null">
                and DATE_FORMAT(a.submit_time, '%Y-%m')= #{date}
            </if>
        </where>

    </select>

</mapper>