<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cmic.attendance.dao.DailyDao">
    <sql id="dailyColumns">
        a.id AS "id",
        a.username AS "username",
        a.attendance_id AS "attendanceId",
        a.daily_desc AS "dailyDesc",
        a.submit_time AS "submitTime",
        a.daily_title AS "dailyTitle",
        a.finished_work AS "finishedWork",
        a.unfinished_work AS "unfinishedWork",
        a.submit_location AS "submitLocation",
        a.examiner AS "examiner",
        a.examine_time AS "examineTime",
        a.suggestion_status AS "suggestionStatus",
        a.remarks AS "remarks",
        a.attendance_group AS "attendanceGroup",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <sql id="dailyJoins">
    </sql>

    <select id="get" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
        <where>
            1 = 1
            <if test="id != null">
                AND a.id LIKE CONCAT('%',#{id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="attendanceId != null">
                AND a.attendance_id LIKE CONCAT('%',#{attendanceId, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="dailyDesc != null">
                AND a.daily_desc LIKE CONCAT('%',#{dailyDesc, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="submitTime != null">
                AND a.submit_time LIKE CONCAT('%',#{submitTime, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="dailyTitle != null">
                AND a.daily_title LIKE CONCAT('%',#{dailyTitle, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="yesterdayPlan != null">
                AND a.yesterday_plan LIKE CONCAT('%',#{yesterdayPlan, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="yesterdayFinished != null">
                AND a.yesterday_finished LIKE CONCAT('%',#{yesterdayFinished, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="yesterdayUnfinished != null">
                AND a.yesterday_unfinished LIKE CONCAT('%',#{yesterdayUnfinished, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="todayPlan != null">
                AND a.today_plan LIKE CONCAT('%',#{todayPlan, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="submitLocation != null">
                AND a.submit_location LIKE CONCAT('%',#{submitLocation, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="examineTime != null">
                AND a.examine_time LIKE CONCAT('%',#{examineTime, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="suggestionStatus != null">
                AND a.suggestion_status LIKE CONCAT('%',#{suggestionStatus, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="createBy.id != null">
                AND a.create_by LIKE CONCAT('%',#{createBy.id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="createDate != null">
                AND a.create_date LIKE CONCAT('%',#{createDate, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="updateBy.id != null">
                AND a.update_by LIKE CONCAT('%',#{updateBy.id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="updateDate != null">
                AND a.update_date LIKE CONCAT('%',#{updateDate, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="username != null">
                AND a.username LIKE CONCAT('%',#{username, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="attendanceGroup != null">
                AND a.attendance_group LIKE CONCAT('%',#{attendanceGroup, typeHandler=EscapeTypeHandler},'%')
            </if>
        </where>
    </select>

    <select id="findAllList" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
    </select>

    <insert id="insert">
        INSERT INTO t_daily(
        id,
        username,
        attendance_id,
        daily_desc,
        submit_time,
        daily_title,
        finished_work,
        unfinished_work,
        submit_location,
        examiner,
        examine_time,
        suggestion_status,
        remarks,
        attendance_group,
        create_by,
        create_date,
        update_by,
        update_date
        ) VALUES (
        #{id},
        #{username},
        #{attendanceId},
        #{dailyDesc},
        #{submitTime},
        #{dailyTitle},
        #{finishedWork},
        #{unfinishedWork},
        #{submitLocation},
        #{examiner},
        #{examineTime},
        #{suggestionStatus},
        #{remarks},
        #{attendanceGroup},
        #{createBy.id},
        #{createDate},
        #{updateBy.id},
        #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE t_daily SET
        username = #{username},
        attendance_id = #{attendanceId},
        daily_desc = #{dailyDesc},
        submit_time = #{submitTime},
        daily_title = #{dailyTitle},
        finished_work = #{finishedWork},
        unfinished_work = #{unfinishedWork},
        submit_location = #{submitLocation},
        examiner = #{examiner},
        examine_time = #{examineTime},
        suggestion_status = #{suggestionStatus},
        remarks = #{remarks},
        attendance_group = #{attendanceGroup},
        create_by = #{createBy.id},
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_daily SET
        <if test="username != null  and username != ''">
            username = #{username},
        </if>
        <if test="attendanceId != null  and attendanceId != ''">
            attendance_id = #{attendanceId},
        </if>
        <if test="dailyDesc != null  and dailyDesc != ''">
            daily_desc = #{dailyDesc},
        </if>
        <if test="submitTime != null ">
            submit_time = #{submitTime},
        </if>
        <if test="dailyTitle != null  and dailyTitle != ''">
            daily_title = #{dailyTitle},
        </if>
        <if test="finishedWork != null  and finishedWork != ''">
            finished_work = #{finishedWork},
        </if>
        <if test="unfinishedWork != null  and unfinishedWork != ''">
            unfinished_work = #{unfinishedWork},
        </if>
        <if test="submitLocation != null  and submitLocation != ''">
            submit_location = #{submitLocation},
        </if>
        <if test="examiner != null  and examiner != ''">
            examiner = #{examiner},
        </if>
        <if test="examineTime != null ">
            examine_time = #{examineTime},
        </if>
        <if test="suggestionStatus != null ">
            suggestion_status = #{suggestionStatus},
        </if>
        <if test="attendanceGroup != null  and attendanceGroup != ''">
            attendance_group = #{attendanceGroup},
        </if>
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_daily
        WHERE id = #{id}
    </delete>

    <select id="getDailyByAttendanceId" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
        WHERE a.attendance_id = #{attendanceId}
    </select>

    <select id="getDailyById" parameterType="String" resultType="Daily">
        SELECT
        id ,username ,submit_time AS "submitTime",daily_title AS "dailyTitle",today_daily AS "todayDaily",
        suggestion_status AS "suggestionStatus",daily_desc AS "dailyDesc",attendance_group AS "attendanceGroup"
        FROM t_daily
        WHERE id = #{dailyId}
    </select>

    <select id="updateDailyAuditById" parameterType="map" >
        UPDATE t_daily a
        SET     a.examine_time= #{examineTime} ,a.update_by = #{updateBy},
        a.update_date=#{updateDate} ,a.suggestion_status = #{suggestionStatus}
        WHERE id = #{dailyId}
    </select>

    <select id="findDailyList" parameterType="com.cmic.attendance.pojo.DailyPojo" resultType="Map">
        SELECT
          a.id , a.username ,a.daily_title AS dailyTitle ,a.daily_desc AS  dailyDesc ,a.attendance_group AS attendanceGroup,
        date_format(a.submit_time,'%Y年%m月%d日 %T') AS submitTime , a.suggestion_status AS suggestionStatus
        FROM t_daily a
        <where>
            1 = 1
            <if test="attendanceId != null and attendanceId != ''">
                and attendance_id = #{attendanceId}
            </if>
            <if test="dailyTitle != null and dailyTitle != ''">
                and daily_title = #{dailyTitle}
            </if>
            <if test="submitLocation != null and submitLocation != ''">
                and submit_location = #{submitLocation}
            </if>
            <if test="examiner != null and examiner != ''">
                and examiner = #{examiner}
            </if>
            <if test="suggestionStatus != null and suggestionStatus != ''">
                and suggestion_status = #{suggestionStatus}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="attendanceGroup != null and attendanceGroup != ''">
                and a.attendance_group = #{attendanceGroup}
            </if>
        </where>
    </select>

    <select id="getDailyByPhoneAndUser" parameterType="com.cmic.attendance.pojo.DailyPojo" resultType="Daily">
        SELECT
        id ,username ,submit_time AS "submitTime",daily_title AS "dailyTitle",today_daily AS "todayDaily",
        suggestion_status AS "suggestionStatus",daily_desc AS "dailyDesc",attendance_group AS "attendanceGroup"
        FROM t_daily
        WHERE Date(update_time) = #{updateDate}
        AND update_by = #{phone}
    </select>

</mapper>