<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cmic.attendance.dao.DailyDao">
    <sql id="dailyColumns">
        a.id AS "id",
        a.attendance_id AS "attendanceId",
        a.daily_desc AS "dailyDesc",
        a.submit_time AS "submitTime",
        a.daily_title AS "dailyTitle",
        a.today_daily AS "todayDaily",
        a.submit_location AS "submitLocation",
        a.examiner AS "examiner",
        a.examine_time AS "examineTime",
        a.suggestion_status AS "suggestionStatus",
        a.create_by AS "createBy.id",
        a.create_time AS "createTime",
        a.update_by AS "updateBy.id",
        a.update_time AS "updateTime",
        a.username AS "username",
        a.attendance_group AS "attendanceGroup"
    </sql>

    <sql id="dailyJoins">
    </sql>

    <select id="get" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
        <where>
            1 = 1
        </where>
    </select>

    <select id="findAllList" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
    </select>

    <insert id="insert">
        INSERT INTO t_daily(
            id,
            attendance_id,
            daily_desc,
            submit_time,
            daily_title,
            today_daily,
            submit_location,
            examiner,
            examine_time,
            suggestion_status,
            create_by,
            create_time,
            update_by,
            update_time,
            username,
            attendance_group
        ) VALUES (
            #{id},
            #{attendanceId},
            #{dailyDesc},
            #{submitTime},
            #{dailyTitle},
            #{todayDaily},
            #{submitLocation},
            #{examiner},
            #{examineTime},
            #{suggestionStatus},
            #{createBy.id},
            #{createTime},
            #{updateBy.id},
            #{updateTime},
            #{username},
            #{attendanceGroup}
        )
    </insert>

    <update id="update">
        UPDATE t_daily SET
        attendance_id = #{attendanceId},
        daily_desc = #{dailyDesc},
        submit_time = #{submitTime},
        daily_title = #{dailyTitle},
        today_daily = #{todayDaily},
        submit_location = #{submitLocation},
        examiner = #{examiner},
        examine_time = #{examineTime},
        suggestion_status = #{suggestionStatus},
        create_by = #{createBy.id},
        create_time = #{createTime},
        update_by = #{updateBy.id},
        username = #{username},
        attendance_group = #{attendanceGroup}
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_daily SET
        <if test="attendanceId != null and attendanceId != ''">
        attendance_id = #{attendanceId},
        </if>
        <if test="dailyDesc != null and dailyDesc != ''">
        daily_desc = #{dailyDesc},
        </if>
        <if test="submitTime != null and submitTime != ''">
        submit_time = #{submitTime},
        </if>
        <if test="dailyTitle != null and dailyTitle != ''">
        daily_title = #{dailyTitle},
        </if>
        <if test="todayDaily != null and todayDaily != ''">
        today_daily = #{todayDaily},
        </if>
        <if test="submitLocation != null and submitLocation != ''">
        submit_location = #{submitLocation},
        </if>
        <if test="examiner != null and examiner != ''">
        examiner = #{examiner},
        </if>
        <if test="examineTime != null and examineTime != ''">
        examine_time = #{examineTime},
        </if>
        <if test="suggestionStatus != null and suggestionStatus != ''">
        suggestion_status = #{suggestionStatus},
        </if>
        <if test="createTime != null and createTime != ''">
        create_time = #{createTime},
        </if>
        <if test="updateTime != null and updateTime != ''">
        update_time = #{updateTime},
        </if>
        <if test="username != null and username != ''">
            username = #{username},
        </if>
        <if test="attendanceGroup != null and attendanceGroup != ''">
            attendance_group = #{attendanceGroup},
        </if>
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_daily
        WHERE id = #{id}
    </delete>

    <select id="getDailyByAttendanceId" resultType="Daily">
        SELECT
        <include refid="dailyColumns"/>
        FROM t_daily a
        <include refid="dailyJoins"/>
        WHERE a.attendance_id = #{attendanceId}
    </select>

    <select id="getDailyById" parameterType="String" resultType="Daily">
        SELECT
        id ,username ,submit_time AS "submitTime",daily_title AS "dailyTitle",today_daily AS "todayDaily",
        suggestion_status AS "suggestionStatus",daily_desc AS "dailyDesc",attendance_group AS "attendanceGroup"
        FROM t_daily
        WHERE id = #{dailyId}
    </select>

    <select id="updateDailyAuditById" parameterType="map" >
        UPDATE t_daily a
        SET     a.examine_time= #{examineTime} ,a.update_by = #{updateBy},
        a.update_time=#{updateTime} ,a.suggestion_status = #{suggestionStatus}
        WHERE id = #{dailyId}
    </select>

    <select id="findDailyList" parameterType="Daily" resultType="Map">
        SELECT
          a.id , a.username ,a.daily_title AS dailyTitle ,a.daily_desc AS  dailyDesc ,a.attendance_group AS attendanceGroup,
        date_format(a.submit_time,'%Y年%m月%d日 %T') AS submitTime , a.suggestion_status AS suggestionStatus
        FROM t_daily a
        <where>
            1 = 1
            <if test="attendanceId != null and attendanceId != ''">
                and attendance_id = #{attendanceId}
            </if>
            <if test="dailyTitle != null and dailyTitle != ''">
                and daily_title = #{dailyTitle}
            </if>
            <if test="submitLocation != null and submitLocation != ''">
                and submit_location = #{submitLocation}
            </if>
            <if test="examiner != null and examiner != ''">
                and examiner = #{examiner}
            </if>
            <if test="suggestionStatus != null and suggestionStatus != ''">
                and suggestion_status = #{suggestionStatus}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="attendanceGroup != null and attendanceGroup != ''">
                and attendance_group = #{attendanceGroup}
            </if>
        </where>
    </select>

</mapper>