<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cmic.attendance.dao.GroupDailyRuleDao">
    <sql id="groupDailyRuleColumns">
        a.id AS "id",
        a.rule_daily_type AS "ruleDailyType",
        a.rule_daily_week AS "ruleDailyWeek",
        a.rule_template_id AS "ruleTemplateId",
        a.attendance_group_id AS "attendanceGroupId",
        a.rule_daily_status AS "ruleDailyStatus",
        a.rule_daily_reserve AS "ruleDailyReserve",
        a.rule_deadline AS "ruleDeadline",
        a.remarks AS "remarks",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <sql id="groupDailyRuleJoins">
    </sql>

    <select id="get" resultType="GroupDailyRule">
        SELECT
        <include refid="groupDailyRuleColumns"/>
        FROM t_group_daily_rule a
        <include refid="groupDailyRuleJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="GroupDailyRule">
        SELECT
        <include refid="groupDailyRuleColumns"/>
        FROM t_group_daily_rule a
        <include refid="groupDailyRuleJoins"/>
        <where>
            1 = 1
        </where>
    </select>

    <select id="findAllList" resultType="GroupDailyRule">
        SELECT
        <include refid="groupDailyRuleColumns"/>
        FROM t_group_daily_rule a
        <include refid="groupDailyRuleJoins"/>
    </select>

    <insert id="insert">
        INSERT INTO t_group_daily_rule(
            id,
            rule_daily_type,
            rule_daily_week,
            rule_template_id,
            attendance_group_id,
            rule_daily_status,
            rule_daily_reserve,
            rule_deadline,
            remarks,
            create_by,
            create_date,
            update_by,
            update_date
        ) VALUES (
            #{id},
            #{ruleDailyType},
            #{ruleDailyWeek},
            #{ruleTemplateId},
            #{attendanceGroupId},
            #{ruleDailyStatus},
            #{ruleDailyReserve},
            #{ruleDeadline},
            #{remarks},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE t_group_daily_rule SET
        rule_daily_type = #{ruleDailyType},
        rule_daily_week = #{ruleDailyWeek},
        rule_template_id = #{ruleTemplateId},
        attendance_group_id = #{attendanceGroupId},
        rule_daily_status = #{ruleDailyStatus},
        rule_daily_reserve = #{ruleDailyReserve},
        rule_deadline = #{ruleDeadline},
        remarks = #{remarks},
        create_by = #{createBy.id},
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_group_daily_rule SET
        <if test="ruleDailyType != null ">
        rule_daily_type = #{ruleDailyType},
        </if>
        <if test="ruleDailyWeek != null  and ruleDailyWeek != ''">
        rule_daily_week = #{ruleDailyWeek},
        </if>
        <if test="ruleTemplateId != null  and ruleTemplateId != ''">
        rule_template_id = #{ruleTemplateId},
        </if>
        <if test="attendanceGroupId != null  and attendanceGroupId != ''">
        attendance_group_id = #{attendanceGroupId},
        </if>
        <if test="ruleDailyStatus != null ">
        rule_daily_status = #{ruleDailyStatus},
        </if>
        <if test="ruleDailyReserve != null ">
        rule_daily_reserve = #{ruleDailyReserve},
        </if>
        <if test="ruleDeadline != null ">
        rule_deadline = #{ruleDeadline},
        </if>
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_group_daily_rule
        WHERE id = #{id}
    </delete>
</mapper>