<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cmic.attendance.dao.GroupDailyDao">
    <sql id="groupDailyColumns">
        a.id AS "id",
        a.daily_name AS "dailyName",
        a.daily_address AS "dailyAddress",
        a.daily_content AS "dailyContent",
        a.daily_status AS "dailyStatus",
        a.remarks AS "remarks",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate"
    </sql>

    <sql id="groupDailyJoins">
    </sql>

    <select id="get" resultType="GroupDaily">
        SELECT
        <include refid="groupDailyColumns"/>
        FROM t_group_daily a
        <include refid="groupDailyJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="GroupDaily">
        SELECT
        <include refid="groupDailyColumns"/>
        FROM t_group_daily a
        <include refid="groupDailyJoins"/>
        <where>
            1 = 1
        </where>
    </select>

    <select id="findAllList" resultType="GroupDaily">
        SELECT
        <include refid="groupDailyColumns"/>
        FROM t_group_daily a
        <include refid="groupDailyJoins"/>
    </select>

    <insert id="insert">
        INSERT INTO t_group_daily(
            id,
            daily_name,
            daily_address,
            daily_content,
            daily_status,
            remarks,
            create_by,
            create_date,
            update_by,
            update_date
        ) VALUES (
            #{id},
            #{dailyName},
            #{dailyAddress},
            #{dailyContent},
            #{dailyStatus},
            #{remarks},
            #{createBy.id},
            #{createDate},
            #{updateBy.id},
            #{updateDate}
        )
    </insert>

    <update id="update">
        UPDATE t_group_daily SET
        daily_name = #{dailyName},
        daily_address = #{dailyAddress},
        daily_content = #{dailyContent},
        daily_status = #{dailyStatus},
        remarks = #{remarks},
        create_by = #{createBy.id},
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_group_daily SET
        <if test="dailyName != null  and dailyName != ''">
        daily_name = #{dailyName},
        </if>
        <if test="dailyAddress != null  and dailyAddress != ''">
        daily_address = #{dailyAddress},
        </if>
        <if test="dailyContent != null  and dailyContent != ''">
        daily_content = #{dailyContent},
        </if>
        <if test="dailyStatus != null ">
        daily_status = #{dailyStatus},
        </if>
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_group_daily
        WHERE id = #{id}
    </delete>
</mapper>