<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cmic.attendance.dao.RoleDao">
    <sql id="roleColumns">
        a.id AS "id",
        a.role AS "role",
        a.status AS "status",
        a.role_type AS "roleType",
        a.role_name AS "roleName",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.create_by AS "createBy.id",
        a.update_by AS "updateBy.id",
        a.remarks AS "remarks"
    </sql>

    <sql id="roleJoins">
    </sql>

    <select id="supplierList" resultType="java.util.Map">
        SELECT b.id as id,b.supplier_name as supplierName
        FROM t_supplier b
    </select>

    <select id="get" resultType="Role">
        SELECT
        <include refid="roleColumns"/>
        FROM t_role a
        <include refid="roleJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="Role">
        SELECT
        <include refid="roleColumns"/>
        FROM t_role a
        <include refid="roleJoins"/>
        <where>
            1 = 1
        </where>
    </select>

    <select id="findAllList" resultType="Role">
        SELECT
        <include refid="roleColumns"/>
        FROM t_role a
        <include refid="roleJoins"/>
    </select>

    <insert id="insert">
        INSERT INTO t_role(
            id,
            role,
            status,
            role_type,
            role_name,
            create_date,
            update_date,
            create_by,
            update_by,
            remarks
        ) VALUES (
            #{id},
            #{role},
            #{status},
            #{roleType},
            #{roleName},
            #{createDate},
            #{updateDate},
            #{createBy.id},
            #{updateBy.id},
            #{remarks}
        )
    </insert>

    <update id="update">
        UPDATE t_role SET
        role = #{role},
        status = #{status},
        role_type = #{roleType},
        role_name = #{roleName},
        update_date = #{updateDate},
        update_by = #{updateBy.id},
        remarks = #{remarks}
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_role SET
        <if test="role != null ">
        role = #{role},
        </if>
        <if test="status != null ">
        status = #{status},
        </if>
        <if test="roleType != null ">
            role_type = #{roleType},
        </if>
        <if test="roleName != null ">
            role_name = #{roleName},
        </if>
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_role
        WHERE id = #{id}
    </delete>

    <select id="getRoleList" resultType="Map">
      SELECT id , role , role_type AS 'roleType',role_name AS  'roleName'
      FROM t_role
    </select>

    <insert id="insertInterviewerUser">
        INSERT INTO  t_interviewer
          (id,interviewer_name,department,interviewer_phone ,interviewer_email,
            create_date,update_date,create_by,update_by)
        VALUES (#{id},#{interviewerName},#{department},#{interviewerPhone},#{interviewerEmail},
            #{createDate},#{updateDate},#{createBy},#{updateBy})
    </insert>

    <insert id="insertPrincipalUser" >
        INSERT INTO  t_principal
            (id,principal_name,project_name,supplier_id ,principal_phone,principal_email,
             create_date,update_date,create_by,update_by)
        VALUES
          (#{id},#{principalName},#{projectName},#{supplierId},#{principalPhone},#{principalEmail},
            #{createDate},#{updateDate},#{createBy},#{updateBy})
    </insert>

    <delete id="deletePrincipleInfo">
        DELETE FROM  t_principal WHERE id =#{id}
    </delete>

    <delete id="deleteInterviewerInfo">
        DELETE FROM  t_interviewer WHERE id =#{id}
    </delete>

</mapper>