<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cmic.attendance.dao.RolePermissionDao">
    <sql id="rolePermissionColumns">
        a.id AS "id",
        a.permission_id AS "permissionId",
        a.role_id AS "roleId",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.create_by AS "createBy.id",
        a.update_by AS "updateBy.id",
        a.remarks AS "remarks"
    </sql>

    <sql id="rolePermissionJoins">
    </sql>

    <select id="get" resultType="RolePermission">
        SELECT
        <include refid="rolePermissionColumns"/>
        FROM t_role_permission a
        <include refid="rolePermissionJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="RolePermission">
        SELECT
        <include refid="rolePermissionColumns"/>
        FROM t_role_permission a
        <include refid="rolePermissionJoins"/>
        <where>
            1 = 1
        </where>
    </select>

    <select id="findAllList" resultType="RolePermission">
        SELECT
        <include refid="rolePermissionColumns"/>
        FROM t_role_permission a
        <include refid="rolePermissionJoins"/>
    </select>

    <insert id="insert">
        INSERT INTO t_role_permission(
            id,
            permission_id,
            role_id,
            create_date,
            update_date,
            create_by,
            update_by,
            remarks
        ) VALUES (
            #{id},
            #{permissionId},
            #{roleId},
            #{createDate},
            #{updateDate},
            #{createBy.id},
            #{updateBy.id},
            #{remarks}
        )
    </insert>

    <update id="update">
        UPDATE t_role_permission SET
        permission_id = #{permissionId},
        role_id = #{roleId},
        update_date = #{updateDate},
        update_by = #{updateBy.id},
        remarks = #{remarks}
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_role_permission SET
        <if test="permissionId != null  and permissionId != ''">
        permission_id = #{permissionId},
        </if>
        <if test="roleId != null  and roleId != ''">
        role_id = #{roleId},
        </if>
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_role_permission
        WHERE id = #{id}
    </delete>
</mapper>