<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD com.example.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.cmic.attendance.dao.StatisticsDao">
    <sql id="statisticsColumns">
        a.id AS "id",
        a.late_time AS "lateTime",
        a.early_time AS "earlyTime",
        a.office_time AS "officeTime",
        a.daily_time AS "dailyTime",
        a.create_by AS "createBy.id",
        a.create_date AS "createDate",
        a.update_by AS "updateBy.id",
        a.update_date AS "updateDate",
        a.username AS "username",
        a.attendance_group AS "attendanceGroup"
    </sql>

    <sql id="statisticsJoins">
    </sql>

    <select id="get" resultType="Statistics">
        SELECT
        <include refid="statisticsColumns"/>
        FROM t_statistics a
        <include refid="statisticsJoins"/>
        WHERE a.id = #{id}
    </select>

    <select id="findList" resultType="Statistics">
        SELECT
        <include refid="statisticsColumns"/>
        FROM t_statistics a
        <include refid="statisticsJoins"/>
        <where>
            1 = 1
            <if test="id != null">
                AND a.id LIKE CONCAT('%',#{id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="lateTime != null">
                AND a.late_time LIKE CONCAT('%',#{lateTime, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="earlyTime != null">
                AND a.early_time LIKE CONCAT('%',#{earlyTime, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="officeTime != null">
                AND a.office_time LIKE CONCAT('%',#{officeTime, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="dailyTime != null">
                AND a.daily_time LIKE CONCAT('%',#{dailyTime, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="createBy.id != null">
                AND a.create_by LIKE CONCAT('%',#{createBy.id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="createDate != null">
                AND a.create_date LIKE CONCAT('%',#{createDate, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="updateBy.id != null">
                AND a.update_by LIKE CONCAT('%',#{updateBy.id, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="updateDate != null">
                AND a.update_date LIKE CONCAT('%',#{updateDate, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="username != null">
                AND a.username LIKE CONCAT('%',#{username, typeHandler=EscapeTypeHandler},'%')
            </if>
            <if test="attendanceGroup != null">
                AND a.attendance_group LIKE CONCAT('%',#{attendanceGroup, typeHandler=EscapeTypeHandler},'%')
            </if>
        </where>
    </select>

    <select id="findAllList" resultType="Statistics">
        SELECT
        <include refid="statisticsColumns"/>
        FROM t_statistics a
        <include refid="statisticsJoins"/>
    </select>

    <insert id="insert">
        INSERT INTO t_statistics(
        id,
        late_time,
        early_time,
        office_time,
        daily_time,
        create_by,
        create_date,
        update_by,
        update_date,
        username,
        attendance_group
        ) VALUES (
        #{id},
        #{lateTime},
        #{earlyTime},
        #{officeTime},
        #{dailyTime},
        #{createBy.id},
        #{createDate},
        #{updateBy.id},
        #{updateDate},
        #{username},
        #{attendanceGroup}
        )
    </insert>

    <update id="update">
        UPDATE t_statistics SET
        id = #{id},
        late_time = #{lateTime},
        early_time = #{earlyTime},
        office_time = #{officeTime},
        daily_time = #{dailyTime},
        create_by = #{createBy.id},
        create_date = #{createDate},
        update_by = #{updateBy.id},
        update_date = #{updateDate},
        username = #{username},
        attendance_group = #{attendanceGroup}
        WHERE id = #{id}
    </update>

    <update id="dynamicUpdate">
        UPDATE t_statistics SET
        <if test="lateTime != null  and lateTime != ''">
            late_time = #{lateTime},
        </if>
        <if test="earlyTime != null  and earlyTime != ''">
            early_time = #{earlyTime},
        </if>
        <if test="officeTime != null  and officeTime != ''">
            office_time = #{officeTime},
        </if>
        <if test="dailyTime != null  and dailyTime != ''">
            daily_time = #{dailyTime},
        </if>
        <if test="username != null  and username != ''">
            username = #{username},
        </if>
        <if test="attendanceGroup != null  and attendanceGroup != ''">
            attendance_group = #{attendanceGroup},
        </if>
        update_by = #{updateBy.id},
        update_date = #{updateDate}
        WHERE id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM t_statistics
        WHERE id = #{id}
    </delete>




    <select id="checkAttendanceByCreateByAndCreateTime" resultType="Statistics">
        SELECT
        <include refid="statisticsColumns"/>
        FROM t_statistics a
        WHERE a.create_by=#{createBy} AND DATE(a.update_date)=#{createTime}
    </select>

</mapper>